# Copia questo file in .env e inserisci le tue credenziali reali

MQTT_BROKER=1.2.3.4
MQTT_PORT=1883
MQTT_TOPICS=mmdvm/+/json,p25-gateway/+/json,nxdn-gateway/+/json,dmr-gateway/+/json,dstar-gateway/+/json,ysf-gateway/+/json
MQTT_USER=user
MQTT_PASS=user_pwd
HTTP_PORT=7000
# TELEGRAM_BOT_TOKEN="TELEGRAM_BOT_TOKEN"
# TELEGRAM_CHAT_ID="TELEGRAM_CHAT_ID"
